#botonToogelador
{
	display:none;
}

#header-row
{
	height:15%;
	margin:0;
}
body
{
	/*border:solid 1px yellow;*/
	height:50px;
	width:100%;
	background-color:#f5f5f5;
}

.mensaje
{
	font-size:85%;
}

footer
{
	height:10% !important;
	width:100%;
	position:absolute;
	bottom:0px;
	right:0px;
	margin:0;	
	
}

#contenedor_mensajeria
{
	background-color:#FFF;
	width:90%;	
	margin:0;
	height:60%;
	max-height:80%;
	margin:0 auto;	
	padding:0 0;			
	/*border:solid 1px yellow;*/
	border-radius: 10px;
}

#contenedor_paneles
{	
	height:100% !important;
	overflow:hidden;	
	position:relative;	/*NEW*/
}

#titulo_conversaciones
{
	margin:2% 0;
	text-align:center;
}

#suplemento_conversaciones
{
	background-color:rgba(27,153,121,0.5);
	height:2%;		
	width:35%;
	margin:0;
	float:left;		
	border-radius:  10px 0 0 0;
}

#panel_conversaciones
{
	background-color:rgba(27,153,121,0.5);
	overflow-y:auto;
	width:35%;
	height:98%;
	max-height:100%;
	margin:0;
	float:left;	
	border-radius: 0 0 0 10px;
	
	/*border:1px solid green;*/
}

.conv_activa
{
	background-color:#FFF;	
}

#panel_conversaciones ul
{
	list-style-type:none;
	font-weight:bold;
	margin:0 0;
}

#panel_conversaciones ul li
{
	cursor:pointer;
	font-weight:bold;
	height:50px;
	position:relative;
}

#panel_conversaciones ul li a
{
	height:50%;
	position: absolute;
	top:20%;
	left:10%;
}

#panel_conversaciones ul li img
{
	width:8%;
	position: absolute;
	top:20%;
	right:10%;
}

#suplemento_mensajes
{
	background-color:#FFF;
	height:2%;	
	width:65%;
	margin:0;	
	float:left;
	border-radius: 10px;
}

#panel_mensajes
{
	overflow-y:auto;
	background-color:#FFF;
	width:65%;
	height:83%;	
	margin:0;
	max-height:100%;
	/*overflow:scroll;*/	
	float:left;
	position:relative;
	/*border:1px solid red;*/
	direction: ltl;
	border-radius: 0 0 10px 0;
}
/*NEW*/
#li_input
{
	background-color:rgba(240,89,120,0.7);
	position:absolute;
	bottom:0;
	right:0;
	width:65%;
	height:15%;
	/*border-radius:5px;*/
	border-radius: 0 0 10px 0;
}

#li_input input
{
	width:95%;
	margin-left:2%;
	margin-top:3%;
}

#panel_mensajes ul
{
	list-style-type:none;
	width:100%;
	margin:0;
	padding:0;
}

#panel_mensajes ul li
{
	margin:1% 4%;
	padding:0.5% 2%;
	max-width:50%;
	border-radius:5px;
	
}

#panel_mensajes .mensaje_fecha
{
	/*border:1px solid blue;*/
	float: left;
	clear:both;
	width:10%;
	margin-left:40%;
	background: #d3d3d3;
		
}

#panel_mensajes .mensaje
{
	font-size:100%		
}

#panel_mensajes .mensaje_propio
{
	/*border:1px solid blue;*/
	float:right;
	clear:both;
	background: moccasin;
		
}

#panel_mensajes .mensaje_contrario
{
	/*border:1px solid green;*/
	float:left;
	clear:both;	
	background: Palegreen;	
}

#panel_mensajes #input_mensajes
{
	/*border:1px solid green;*/
	float:left;
	clear:both;
	width:95%;
	margin-left:0;	
	display:none;
}

#panel_mensajes .negrita
{
	font-size:110%;
	font-weight:bold;	
	
}

.limpiarfloat
{
	width:100%;
	clear:both;
	overflow:auto;
}








/*======VENTANA EMERGENTE========*/

#imagen_cierre_popup
{
	width:3%;
	position:absolute;
	right:5%;
	top:5%;
	
}
#sombra
{
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	top:0;
	left:0;
	z-index:888;
}

#dialog {
background-color:#EFEFEF;
width:40%;
height:50%;
position:absolute;
top: 30%;
left: 30%;
z-index:999;
border-radius:15px;
/*display:none;*/
}

#titulo_dialog
{
	width:50%;
	margin:0 auto;
}

#dialog p {
height: 10%;
margin:5% auto;
}

#dialog form
{
	height: 45%;
	margin:0 auto;	
}

#dialog div {
width: 50%;
height:30%;
margin:5% auto;
}
#boton_selecciones_hoja
{
	width: 30%;
	position:absolute;
	left:35%;
	height:10%;
	margin:0 auto;	
}
#texto_textarea
{
	resize:none;
}
/*
#dialog input {
	font-size: 110%;
	-webkit-appearance: none;
	display: block;
	background: #CCC;
	color: black;
	font-weight:bold;
	width: 100%;
	margin:0 auto;
	height:50%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
	text-align:center;
}
*/